<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse pull-right" ng-controller="NavController">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.outlets">Home</a></li>
        <li ng-hide="isLoggedIn()"><a class="btn" ng-click="openSignInModal()">Login/Signup</a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="profile">{{ user.name }}</a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="app.orders">Orders</a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="app.favoriteOutlets">Favourite Outlets</a></li>
        <li ng-show="isLoggedIn()"><a class="btn" ng-click="doLogout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div ui-view="mainContent"></div>
</div>