<div class="row">
  <div class="col col-md-4">
    <div><label>{{order.vendor.name}}</label></div>
    <div>{{order.outlet.street}}</div>
    <div>Order no: {{order.orderNo}}</div>
  </div>
  <div class="col col-md-4 col-sm-1">
    <div><label>{{order.whatYouGet}}</label></div>
    <div>
      <label ng-if="order.isExpired()">Expired {{order.expiresIn()}}</label>
      <label ng-if="!order.isExpired()">Expires {{order.expiresIn()}}</label>
    </div>
  </div>
  <div class="col col-md-1">
    <button class="btn btn-primary" ng-click="checkIn(order)">Check in</button>
  </div>
</div>
<div class="offer-detail">
  <h4>{{order.whatYouGet}}</h4>
  <ul>
    <li ng-repeat="finePrint in order.finePrints">
      {{finePrint}}
    </li>
  </ul>
  <label>Instructions</label>
  <span>{{order.instruction}}</span>
</div>