<form role="form">
  <div class="row">
    <div class="col col-md-4">
      <div class="form-group">
        <label class="control-label">Locality</label>
        <input id="searchAddress" ng-autocomplete class="form-control" ng-model="criteria.streetLocation"
               details="criteria.streetLocationDetail" options="googlePlaceAutoCompleteOptionsStreetAddress" autocomplete="off">
      </div>
    </div>

    <!-- 2nd columns -->
    <div class="col col-md-4 col-sm-1">
      <div class="form-group">
        <label class="control-label">Category</label>
        <select class="form-control" ng-model="criteria.category"
                ng-options="category.name for category in data.categories"></select>
      </div>
      <div class="form-group">
        <label class="control-label">Sub Category</label>
        <select class="form-control" ng-model="criteria.subcategories" multiple
                ng-options="subcategory.name for subcategory in criteria.category.subcategories"></select>
      </div>
    </div>
  </div>

</form>