<h4> {{outlet.name}} </h4>
<h5>{{outlet.distance | distance}}</h5>
<span>Total Deals: {{outlet.noOfDeal()}}</span>
<button class="btn btn-danger" ng-click="showReportAbuseComment = !showReportAbuseComment" ng-show="!outlet.vendor.spammed">Spam</button>
<button class="btn btn-danger" ng-click="unSpam()" ng-show="outlet.vendor.spammed">Un Spam</button>
<div>
  <label class="bg-primary">Rating: {{outlet.rating}}</label>
  <span> (Based on <span class="bg-info">{{outlet.noOfRaters}}</span> votes)</span>
</div>
<div>
  <label>Rated by you: </label>
  <rating ng-model="outlet.userRating" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
  <span class="label" ng-class="{'label-warning': value<1.5, 'label-info': value>=1.5 && value<3.5,
  'label-success': value>=3.5}" ng-show="overStar && !isReadonly">{{value}}</span>
</div>
<div>
  <span> Total Reviews: <span class="bg-primary">{{outlet.reviewCount}}</span></span>
</div>
<textarea ng-model="reason" ng-enter="reportSpam(reason)" ng-show="showReportAbuseComment"
          placeholder="What is wrong with this vendor..."></textarea>
<button type="button" ng-click="toggleFavorite(outlet)" class="btn btn-primary">
  {{outlet.markedAsFavorite ? 'Un Favorite' : 'Favorite'}}
</button>
<a class="button button-primary" scroll-to="reviewForm">Write review</a>
<div ui-view="outletDealContent"></div>
<hr>
<div outlet-reviews></div>
