<div search-criteria></div>
<div class="row" ng-repeat="outlet in criteria.outlets">
  <div class="col col-md-1">
    <a ng-click="showOutletDetail(outlet)">{{outlet.name}}</a>
  </div>
  <div class="col col-md-1 col-sm-1">
    {{outlet.distance | distance}}
  </div>
  <div class="col col-md-3 col-sm-1">
    {{outlet.street}}
  </div>
  <div class="col col-md-2">
    <button type="button" ng-click="toggleFavorite(outlet)" class="btn btn-primary">
      {{outlet.markedAsFavorite ? 'Un Favorite' : 'Favorite'}}
    </button>
  </div>

  <div class="col col-md-2">
    <span class="bg-primary" ng-show="outlet.noOfRaters > 0">{{outlet.rating}}
      <span> ({{outlet.noOfRaters}} votes)</span>
    </span>
    <span class="bg-primary"  ng-show="outlet.noOfRaters == 0">No votes</span>
  </div>
  <div class="col col-md-1">
    <span class="bg-primary">{{outlet.reviewCount}} Reviews</span>
  </div>
</div>
<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="criteria.page" ng-change="refreshItems()"></pagination>