<div search-criteria></div>
<div class="row" ng-repeat="outlet in outlets">
    <div class="col col-md-5">
      {{outlet.name}}
    </div>
    <div class="col col-md-2 col-sm-1">
      {{outlet.distance}}
    </div>
  <div class="col col-3 col-sm-1">
    {{outlet.street}}
  </div>
</div>
