<div ng-controller="ReviewController">
  <label>Reviews:</label>
  <div ng-repeat="review in reviews | orderBy: '-createdAt'">
    <div>
      <label class="control-label">{{review.title}}</label>
      <span>{{review.body}}</span>
    </div>
    <div ng-repeat="comment in review.comments" style="padding-left: 10px">
      <span>{{comment.body}}</span>
    </div>
    <a ng-if="isLoggedIn()" ng-click="review.showCommentBox = !review.showCommentBox">comment</a>

    <form role="form" ng-submit="postComment(review)" ng-show="review.showCommentBox">
      <div class="form-group" style="padding-left:10px">
        <textarea ng-enter="postComment(review, comment)" ng-model="review.newComment.body" placeholder="Write a comment"></textarea>
      </div>
    </form>
  </div>
  <pagination ng-show="totalItems>0" total-items="totalItems" items-per-page="itemsPerPage" ng-model="page" ng-change="refreshItems()"></pagination>
  <div ng-show="totalItems==0"><b>No item found</b></div>
  <hr>

  <div id="reviewForm">
    <h4>Write review</h4>
    <hr>
    <div ng-if="!isLoggedIn()">
      <a ng-click="openSignInModal()">Login to submit a review</a>
    </div>
    <form role="form" ng-submit="submitReview()" ng-if="isLoggedIn()">
      <div class="form-group">
        <label class="control-label">Title</label>
        <input type="text" class="form-control" ng-model="review.title">
      </div>
      <div class="form-group">
        <label class="control-label">Comment</label>
        <textarea class="form-control" ng-model="review.body" rows="3"></textarea>
      </div>
      <button type="submit" class="button button-primary">Submit</button>
    </form>
  </div>
</div>