<form role="form" ng-controller="OutletDetailController">
  <div class="form-group">
    <textarea ng-model="reason" ng-enter="reportAbuse(reason)"
              placeholder="What is wrong with this vendor..."></textarea>
  </div>
</form>