<head>
  <base href="/vendor">
</head>
<div id="overlay" class=""></div>
<div ng-app="LocalDeal_Vendor" class="outer-main">
  <%= javascript_include_tag 'vendor', 'data-turbolinks-track' => true %>
  <div ui-view="navContent"></div>
</div>